.template.color-yellow(data-template='home')
  
  //- MAIN
  main
    h1
      span A #[mark 27 years] old
      span Front end development
    .p
      span wds@disnot.com
      span 1483166698
    .links
      a.link.router.color-yellow(href='#bucket' title='View my bucket list') View my bucket list
      a.link.color-green(href='https://github.com/realwds' title='View my github' target='_blank') View my github
      a.link.color-red(href='https://realwds.github.io/' title='View my blog' target='_blank') View my blog
  
  //- FOOTER
  footer: .links
    a.link.small.alt(href='http://facebook.com/' title='Facebook (@realwds)' target='_blank') Facebook
    a.link.small.alt(href='http://twitter.com/' title='Twitter (@realwds)' target='_blank') Twitter
    a.link.small.alt(href='http://codepen.io/' title='Codepen (@realwds)' target='_blank') Codepen
